@font-face {
    font-family: 'LINESeedSansTH_W_Bd';
    src: url('/fonts/LINESeedSansTH_W_Bd.woff2') format('opentype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'LINESeedSansTH_W_He';
    src: url('/fonts/LINESeedSansTH_W_He.woff2') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedSansTH_W_Rg';
    src: url('/fonts/LINESeedSansTH_W_Rg.woff2') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedSansTH_W_Th';
    src: url('/fonts/LINESeedSansTH_W_Th.woff2') format('opentype');
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: 'LINESeedSansTH_W_XBd';
    src: url('/fonts/LINESeedSansTH_W_XBd.woff2') format('opentype');
    font-weight: 800;
    font-style: extra-bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;